-i https://pypi.org/simple
aiodns==3.0.0
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.14; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
async-timeout==5.0.1; python_version >= '3.8'
attrs==25.3.0; python_version >= '3.8'
brotli==1.0.9
cffi==1.15.1
charset-normalizer==3.2.0; python_version >= '3.7'
frozenlist==1.7.0; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
multidict==6.6.3; python_version >= '3.9'
propcache==0.3.2; python_version >= '3.9'
pycares==4.3.0
pycparser==2.21
typing-extensions==4.14.1; python_version >= '3.9'
yarl==1.20.1; python_version >= '3.9'
